@font-face {
  font-family: "kayak";
  src: url(/../fonts/Kayak/Kayak-Sans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kayak";
  src: url(/../fonts/Kayak/Kayak-Sans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "kayak";
  src: url(/../fonts/Kayak/Kayak-Sans-Light.woff);
  font-weight: lighter;
  font-style: normal;
}

html {
  font-size: 100%;
  font-family: "kayak";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: block;
}

.sidebar {
  padding: 0;
  margin: 0;
  z-index: 1111;
  height: 100%;
  width: 0%;
  position: fixed;
  background-color: white;
  overflow-x: hidden;
  top: 0;
  left: 0;
  transition: 0.15s;
  color: black;
  box-shadow: 10px 0px 10px rgb(54, 54, 54);
}

.sidebar > * {
  padding: 0;
  margin: 0;
}

.close_sidebar {
  margin-left: 80%;
  margin-top: 5%;
  padding: 0;
}

.logo_sidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  width: 40%;
}

.sidebar ul,
a {
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: black;
}

.sidebar > p {
  text-align: center;
}

.sidebar_list {
  font-size: 45px;
  font-weight: normal;
  color: black;
  margin-bottom: 20%;
}

.sidebar_menu_text:hover{
  text-decoration: underline;
}

.sidebar_divider {
  margin-bottom: 10px;
}

.login_sidebar li {
  display: inline-block;
}

.sidebar_media_icons {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar_media_icons li {
  display: inline-block;
  padding-left: 8%;
  padding-right: 8%;
}

div.header {
  height: 100px;
}

.logo {
  float: left;
  margin-left: 200px;
}
.hamburger:hover{
  box-shadow: 5px -3px 20px rgb(54, 54, 54);
}

.login_btns {
  list-style: none;
  margin-right: 2%;
  padding: 0;
}

.login_btns li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


main {
  padding: 0px 0px 831px;
  background-image: url(./../images/BG.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.search_box{
  position: absolute;
  top: 520px;
  left: 800px;
  transform: translate(-50%, -50%);
  height: 96px;
  border-radius: 50px;
  background: #ffffff;
  padding: 0px;
  border: 1px solid #525252;
}

.search_btn{
  color: #2f3640;
  float: left;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background:#ffffff ;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #525252;
}

.search_btn:hover{
  box-shadow: 5px 0px 5px rgb(151, 151, 151);
}

.search_txt{
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0;
  color: black;
  font-size: 55px;
  font-weight: 100;
  width: 650px;
  padding-top: 15px;
  padding-left: 10px;
  
}

.search_txt::placeholder{
  opacity: 0.3;
  font-weight: 100;
}

.create_btn {
  position: absolute;
  left: 662px;
  top: 646px;
}


div.trend {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.catg {
  margin: 0;
  padding: 0;
}


.catg li {
  display: inline-block;
  font-size: 62px;
  font-weight: 300;
  margin-left: 45px;
  margin-right: 25px;
}

.catg_trend_topic {
  position: relative;
  font-weight: bold;
  font-size: 41px;
  bottom: 6px;
  margin-right: 100px;
}

.catg_text:hover {
 text-decoration: underline;
}

.divider_catg {
  position: relative;
  top: 10px;
}

.top_section_divider {
  margin-top: 70px;
  margin-bottom: 170px;
}

h2 {
  text-decoration: underline;
}

.bottom_section_divider {
  margin-top: 170px;
  margin-bottom: 70px;
}

.recipes {
  margin-left: 200px;
  margin-right: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.logo_footer {
  margin-top: 20px;
  margin-left: 200px;
}

.media_footer {
  margin-top: 40px;
}

.media_icons {
  list-style: none;
  padding: 0;
  margin-top: 10;
}

.media_icons li {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

.our_media_text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu_footer {
  margin-top: 50px;
  margin-right: 200px;
  list-style: none;
  color: white;
}

.menu_footer li {
  padding: 5px;
margin-left: 10px;
margin-right: 10px;
  font-size: 29px;
}

.menu_text_footer:hover{
  text-decoration: underline;
}




footer > * {
  padding: 0px;
}

footer a {
  color: white;
}
